<!-- product management -->

<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="demo-inline-spacing mb-3 d-flex align-items-end justify-content-end">
        <a type="button" href="/admin/add-product" class="btn rounded-pill btn-outline-success">
            <span class="tf-icons bx bx-cart"></span>&nbsp; Add Product
        </a>
    </div>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">All Products</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {{#each product}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{this.product_name}}</td>
                        <td>{{this.brand}}</td>
                        <td>{{this.MRP}}</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                    class="avatar avatar-xs pull-up" title="Lilian Fuller">
                                    <img src="/images/{{this.images.[0]}}" alt="Avatar" class="rounded" />
                                </li>
                            </ul>
                        </td>
                        <td><span class="badge bg-label-primary me-1">{{this.category}}</span></td>
                        <td><span class="badge bg-label-primary me-1">{{this.stock}}</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a onclick="return confirm('Are you sure to edit')" class="dropdown-item" href="/admin/edit-product/{{this._id}}"><i
                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a onclick="return confirm('Are you sure to delete')" class="dropdown-item" href="/admin/deleteproduct/{{this._id}}"><i
                                            class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <!-- / product management -->