{{>user-header1}}
{{#if product}}
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
        </div>
        <div class="row isotope-grid">
            {{#each product}}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">

                    <a href="/remove-from-wishlist/{{this.product._id}}"
                   
                        onclick="return confirm ('are you want to remove this product?')">
                        <img style="height:30px ;width:30px ; margin-right: 5px; margin-top: -4px;"
                            class="icon-heart1 dis-block trans-04"
                            src="https://w7.pngwing.com/pngs/81/282/png-transparent-computer-icons-backspace-symbol-next-button-miscellaneous-rectangle-logo-thumbnail.png"
                            alt="ICON"></a>
                    <div class="block2-pic hov-img0">
                        <img src="/images/{{this.product.images.[0]}}" alt="IMG-PRODUCT">

                        <a href="/product-detail{{this._id}}"
                            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Add to Cart
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/product-detail{{this._id}}"
                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{this.product.product_name}}
                            </a>

                            <span class="stext-105 cl3">
                                {{this.product.MRP}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="container d-flex flex-column align-items-center justify-content-center h-75">
        <h1>Your Wishlist is empty!!!</h1>
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_qh5z2fdq.json" background="transparent"
            speed="2" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        <a class="text-primary" href="/">Shop Now !</a>
    </div>
    {{/if}}




    {{user-footer}}